nav {
	height: 40px;
	background-color: gray;
	float: center;
}
nav ul {
	list-style: inline;
	text-align: center;
}
nav ul li a {
	text-decoration: none;
	float: left;
	color: white;
	padding-right: 40px;
	
	line-height: 40px;
	height: 40px;
}

nav ul li a : hover {
	color: red;
	border-radius: 12px;
}

body {

}